<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Folder where logs will be saved -->
    <property name="LOG_PATH" value="logs" />

    <!-- Daily file name pattern -->
    <timestamp key="logDate" datePattern="dd-MM-yy"/>

    <!-- ====================== CONSOLE ====================== -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- ====================== FILE APPENDER ====================== -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <!-- Active log file -->
        <file>${LOG_PATH}/bankingEndPoint.log</file>

        <!-- Rolling policy: Daily + Size-based -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <!-- File name format for rolled files -->
            <fileNamePattern>${LOG_PATH}/%d{dd-MM-yy}.%i.log</fileNamePattern>

            <!-- Max size per file before creating new -->
            <maxFileSize>10MB</maxFileSize>

            <!-- Keep logs for max 7 days -->
            <maxHistory>7</maxHistory>

            <!-- Total size cap (optional) -->
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- ====================== LOGGERS ====================== -->

    <!-- Your application logs -->
    <logger name="com.bankingtransactions" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </logger>

    <!-- Hibernate SQL logs -->
    <logger name="org.hibernate.SQL" level="DEBUG">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- Hibernate parameters (values in queries) -->
    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
